@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: unset;
  list-style: none;
}

body {
  display: flex;
  justify-content: space-around;

}

.card {
  border-radius: 30px;
  margin: 10px;
  width: 400px;
  box-shadow: 0 0 10px;
}

.cardBox {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  margin: 10px;
  min-height: 50vh;
  width: 400px;
  box-shadow: 0 0 10px;
}

#pokedex {
  z-index: -1;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  min-height: 50vh;
  background-color: #fc6c6d;
  color: white;
}

#pokedex h1 {
  padding: 15px;
}

#pokedex img {
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
}

.pokemonInfo {
  margin-top: -50px;
  min-height: 50vh;
  border-radius: 55px;
  background-color: rgb(255, 255, 255);
}

.elementBox {
  background-color: #f78c8e;
  width: 70px;
  padding: 5px;
  text-align: center;
  border-radius: 40px;
  margin-left: 20px;
}

.cardBox .elementBox {
  margin-left: 5px;
}

#stat-list {
  padding-top: 30px;
}

#stat-list li {
  padding-top: 20px;
}

.skill-bar {
  width: 200px;
  height: 5px;
  background-color: red;
}



.pokemonCards {
  position: relative;
  margin: 20px;
  width: 160px;
  height: 100px;
  background-color: aqua;
  border-radius: 10px;
  cursor: pointer;
}

.pokemonCards div {
  padding: 5px;
}

.pokemonCards img {
  position: absolute;
  right: 5px;
  bottom: 10px;
  height: 60px;
}

@media only screen and (max-width: 900px) {
  body {
    align-items: center;
    flex-direction: column;
    justify-content: center;

  }
}

@media only screen and (max-width: 500px) {
  #pokedexBox {
    padding: 10px;
    height: 30vh;
    overflow-y: scroll;
    width: 90%;
  }

  .pokemonCards {
    margin: 20px auto;
  }

  .card {
    width: 90%;
  }

  #pokedex img {
    top: 70px;
  }

  .pokemonInfo {
    height: 40vh;
  }
}